extends layouts/main-layout

block content
    .col-md-10
    .h-100.p-5.bg-light.border.rounded-3
      h1 #{pageTitle}  
      h3 Bienvenido a #{pageTitle}  
      p Una app ideal para recordar todo lo que debe hacer y descargar su cerebro.

